body {
    background-image: url('../evangelion_movie_art.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
  }
  